<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Investor Anatomy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/" class="nav-logo">
            <img src="/images/logo-dark.png" alt="Investor Anatomy Logo" height="40">
        </a>
        <ul>
            <li>
                <a href="/" {% if page.url == "/" %} class="active"{% endif %}>Home</a>
            </li>
            <li>
                <a href="/pricing.html">Pricing</a>
            </li>
            <li>
                <a href="/about/" {% if page.url == "/about/" %} class="active"{% endif %}>About</a>
            </li>
             <li>
                <a href="/watchlists/" {% if page.url == "/watchlists/" %} class="active"{% endif %}>Watchlists</a>
            </li>
            <li>
                <a href="/brand-identity-guide/" {% if page.url == "/brand-identity-guide/" %} class="active"{% endif %}>Brand Guide</a>
            </li>
            <li class="dropdown">
                <a href="/cot-reports-overview/" class="dropbtn {% if page.url == '/cot-reports-overview/' %}active{% endif %}">CoT Reports</a>
                <div class="dropdown-content">
                    {%- for report in collections.reports %}
                    <a href="{{ report.url }}">{{ report.data.title }}</a>
                    {%- endfor %}
                </div>
            </li>
        </ul>
    </nav>

    <main>
        {{ content | safe }}
    </main>

</body>
</html>