<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | PDM Reports</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/" {% if page.url == "/" %} class="active"{% endif %}>Home</a>
            </li>
            <li>
                <a href="/about/" {% if page.url == "/about/" %} class="active"{% endif %}>About</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">CoT Reports</a>
                <div class="dropdown-content">
                    {%- for report in collections.reports %}
                    <a href="{{ report.url }}">{{ report.data.title }}</a>
                    {%- endfor %}
                </div>
            </li>
        </ul>
    </nav>

    <main>
        {{ content | safe }}
    </main>

</body>
</html>